<template>
  <div id="app">
    <h2>Todos:</h2>
    <ol v-if="todos.length > 0">
      <li v-for="(todo, index) in todos">
        <label>
          <input type="checkbox"
                 v-on:change="toggle(todo)"
                 v-bind:checked="todo.done">

          <del v-if="todo.done">{{ todo.text }}</del>
          <span v-else>{{ todo.text }}</span>
        </label>
        <small><a href="#delete" @click.prevent="del(index)">delete</a></small>
      </li>
    </ol>
    <p v-else>Yay! Everything's done, you can relax now</p>

    <div class="add-todo">
        <input type="text" v-model="newTodoText">
        <button @click="add">Add todo</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'app',

  data () {
    return {
      newTodoText: ""
    }
  },

  created () {
      this.$store.dispatch('loadData')
  },

  // Using mapState from Vuex to get the todos from the store as a computed property (using as array)
  computed: mapState([
      'todos'
  ]),

  // you could also NOT use mapState, something like
  // computed: {
  //    todos () {
  //        return this.$store.state.todos
  //    }
  // }

  // like here, we could use mapMutations, but we just use the global $store to access our store mutations and actions
  methods: {
    toggle (todo) {
      this.$store.dispatch('toggleTodo', todo)
    },

    add () {
      this.$store.dispatch('addTodo', { text: this.newTodoText })
      this.newTodoText = '' // reset text
    },

    del (index) {
      this.$store.dispatch('deleteTodo', index);
    }
  }
}
</script>

<style lang="scss">
body {
  background: #20262E;
  padding: 20px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}
li {
  margin: 8px 0;
}
h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
del {
  color: rgba(0, 0, 0, 0.3);
}
small a {
  font-size: 0.8em;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
